<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <h1>Table of Contents</h1>
    <ol>
        <li><a href="/../about" >about</a></li>
        <li><a href="/../forum" >forum</a></li>
        <li><a id="javapic_javascript">javapic_javascript</a></li>
            <ul>
                <li><a href="/../javapic_javascript" >index</a></li>
                <li><a href="/../javapic_javascript/gallery" >gallery</a></li>
                <li><a href="/../javapic_javascript/join" >join</a></li>            </ul>
        <li><a>javapic_jquery</a></li>
            <ul>
                <li><a href="/../javapic_jquery">index</a></li>
                <li><a href="/../javapic_jquery/gallery">gallery</a></li>
                <li><a href="/../javapic_jquery/join">join</a></li>
            </ul>
        <li><a href="/../zen_mockup">zen_mockup</a></li>
    </ol>
</body>
</html>