<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <h1>Table of Contents</h1>
    <ol>
        <li>about</li>
        <li>forum</li>
        <li>javapic_javascript</li>
            <ul>
                <li>index</li>
                <li>gallery</li>
                <li>join</li>
            </ul>
        <li>javapic_jquery</li>
            <ul>
                <li>index</li>
                <li>gallery</li>
                <li>join</li>
            </ul>
        <li>zen_mockup</li>
    </ol>
</body>
</html>